# Preparation of the data

## Import Package

In [1]:
import pandas as pd

## load data

In [2]:
#data_location  = "*/Data/GallupWB_WashedRawData17Wave_v1.parquet"

In [3]:
df = pd.read_parquet(data_location)

In [4]:
df.head()

,wave,COUNTRY_ISO3,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
0,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.shape

(2594089, 90)

In [5]:
df.columns

Index(['wave', 'COUNTRY_ISO3', 'INCOME_1', 'INCOME_2', 'INCOME_3', 'INCOME_4',
       'INCOME_5', 'INCOME_6', 'INCOME_7', 'WP16', 'WP18', 'WP23', 'WP27',
       'WP30', 'WP31', 'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67',
       'WP68', 'WP69', 'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86',
       'WP19472', 'WP88', 'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95',
       'WP96', 'WP97', 'WP98', 'WP10248', 'WP103', 'WP105', 'WP106', 'WP108',
       'WP109', 'WP110', 'WP111', 'WP112', 'WP113', 'WP117', 'WP118', 'WP119',
       'WP129', 'WP130', 'WP9050', 'WP131', 'WP132', 'WP134', 'WP137', 'WP138',
       'WP139', 'WP141', 'WP144', 'WP10251', 'WP145', 'WP146', 'WP150',
       'WP151', 'WP153', 'WP155', 'WP156', 'WP13125', 'WP1219', 'WP1220',
       'WP1223', 'EMP_2010', 'WP1230', 'WP1233', 'WP2319', 'WP4657', 'WP9042',
       'WP9048', 'WP17625', 'WP17626', 'WP16056', 'WP15862', 'WP19544',
       'WP3117'],
      dtype='object')

In [13]:
df_4wave = df[df['wave'] > 13.9]

In [15]:
df_4wave_chn = df_4wave[df_4wave['COUNTRY_ISO3'] == 'CHN']

In [16]:
df_4wave_chn.shape

(10712, 90)

In [17]:
df_4wave_chn = df_4wave_chn.drop(columns = ['COUNTRY_ISO3'])

In [18]:
df_4wave_chn.head()

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,WP18,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,NaN,3.0,7.0,98.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,NaN,1.0,1.0,1.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,NaN,3.0,4.0,5.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,NaN,3.0,6.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,NaN,3.0,4.0,4.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0

In [19]:
df_4wave_chn.to_csv('../Data/D01_RawDataWb4WaveX_v1.csv')