# Wash Data 12 to 17 wave

In [1]:
%pwd

'/Users/lichao/Library/CloudStorage/OneDrive-KyushuUniversity/Course01_DataScienceForBa/Code'

## Import Package

In [2]:
import numpy as np
import os
import pandas as pd

## Folder Address Setting

In [3]:
Data_Folder = "../Data"
Code_Folder = "../Code"
Results_Folder = "../Results"

## Wash Dateset

### Load dataset

In [4]:
df = pd.read_csv(os.path.join(Data_Folder, 'D01_RawDataWb4WaveX_v1.csv'), index_col = 0)

In [5]:
df.shape

(10712, 89)

In [6]:
df.head()

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,WP18,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,NaN,3.0,7.0,98.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,NaN,1.0,1.0,1.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,NaN,3.0,4.0,5.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,NaN,3.0,6.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,NaN,3.0,4.0,4.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0

In [7]:
variable_list = []

### Washing wave

In [8]:
df['wave'].value_counts().sort_index()

wave
14.1    3709
15.1    3503
16.1    3500
Name: count, dtype: int64

In [9]:
df['wave'] = df['wave'].astype(int)

In [10]:
df['wave'].value_counts().sort_index()

wave
14    3709
15    3503
16    3500
Name: count, dtype: int64

In [11]:
df = df[df['wave'].isin([12, 13, 14, 15, 16, 17])]

In [12]:
df['wave'].value_counts().sort_index()

wave
14    3709
15    3503
16    3500
Name: count, dtype: int64

In [13]:
df.shape

(10712, 89)

In [14]:
df.head()

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,WP18,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
2051059,14,36000.0,8966.233975,6000.0,1494.372329,1.0,NaN,3.0,7.0,98.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2051060,14,120000.0,29887.446582,30000.0,7471.861645,4.0,NaN,1.0,1.0,1.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051061,14,216000.0,53797.403847,54000.0,13449.350962,5.0,NaN,3.0,4.0,5.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
2051062,14,72000.0,17932.467949,14400.0,3586.493590,2.0,NaN,3.0,6.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051063,14,9600.0,2390.995727,2400.0,597.748932,1.0,NaN,3.0,4.0,4.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0

In [15]:
variable_list.append('wave')

### Washing item by item

#### INCOME_2

In [16]:
df['INCOME_2'].isna().sum()

np.int64(0)

In [17]:
df['INCOME_2'].head()

2051059     8966.233975
2051060    29887.446582
2051061    53797.403847
2051062    17932.467949
2051063     2390.995727
Name: INCOME_2, dtype: float64

In [18]:
variable_list.append('INCOME_2')

In [19]:
code = 'INCOME_5'
name = 'Income_level'

In [20]:
df[name] = df[code]

In [21]:
print(df[code].value_counts(dropna=False).sort_index())

INCOME_5
1.0    1842
2.0    1963
3.0    2076
4.0    2322
5.0    2509
Name: count, dtype: int64

#### WP16 Cantril_ladder

drop 98 99 to NaN

In [22]:
df['Cantril_ladder'] = df['WP16']

In [23]:
df['Cantril_ladder'].value_counts(dropna=False).sort_index()

Cantril_ladder
0.0      378
1.0      228
2.0      332
3.0      678
4.0      859
5.0     2750
6.0     1709
7.0     1299
8.0     1153
9.0      316
10.0     758
98.0     237
99.0      15
Name: count, dtype: int64

In [24]:
df = df[df['Cantril_ladder'] < 11]

In [25]:
df['Cantril_ladder'].value_counts(dropna=False).sort_index()

Cantril_ladder
0.0      378
1.0      228
2.0      332
3.0      678
4.0      859
5.0     2750
6.0     1709
7.0     1299
8.0     1153
9.0      316
10.0     758
Name: count, dtype: int64

In [26]:
df.shape

(10460, 91)

In [27]:
variable_list.append('Cantril_ladder')

#### WP18

In [28]:
df['WP18'].value_counts(dropna=False).sort_index()

WP18
0.0      140
1.0       91
2.0      191
3.0      368
4.0      355
5.0     1209
6.0     1263
7.0     1700
8.0     2058
9.0      899
10.0    1157
98.0    1013
99.0      16
Name: count, dtype: int64

**Do not use**

#### WP23 Health_disable

drop 3 4 to NaN

In [29]:
df['WP23'].value_counts(dropna=False).sort_index()

WP23
1.0    1253
2.0    9153
3.0      52
4.0       2
Name: count, dtype: int64

In [30]:
df['Health_disable'] = df['WP23']

In [31]:
df = df[df['Health_disable'] < 3]

In [32]:
df['Health_disable'].value_counts(dropna=False).sort_index()

Health_disable
1.0    1253
2.0    9153
Name: count, dtype: int64

In [33]:
df['Health_disable'] = np.abs(df['Health_disable']-2)

In [34]:
df['Health_disable'].value_counts(dropna=False).sort_index()

Health_disable
0.0    9153
1.0    1253
Name: count, dtype: int64

In [35]:
variable_list.append('Health_disable')

#### WP27 Relative_have

drop 3 4 to 2

In [36]:
df['WP27'].value_counts(dropna=False).sort_index()

WP27
1.0    8724
2.0    1506
3.0     163
4.0      13
Name: count, dtype: int64

In [37]:
df['Relative_have'] = df['WP27']

In [38]:
df['Relative_have'] = df['Relative_have'].fillna(2)

In [39]:
df.loc[df['Relative_have'].isin([3, 4]), 'Relative_have'] = 2

In [40]:
df['Relative_have'].value_counts(dropna=False).sort_index()

Relative_have
1.0    8724
2.0    1682
Name: count, dtype: int64

In [41]:
df['Relative_have'] = np.abs(df['Relative_have']-2)

In [42]:
df['Relative_have'].value_counts(dropna=False).sort_index()

Relative_have
0.0    1682
1.0    8724
Name: count, dtype: int64

In [43]:
variable_list.append('Relative_have')

#### WP30 Life_satisfaction

drop 3 4 to 2

In [44]:
df['WP30'].value_counts(dropna=False).sort_index()

WP30
1.0    8525
2.0    1673
3.0     190
4.0      18
Name: count, dtype: int64

In [45]:
df['Life_satisfaction'] = df['WP30']

In [46]:
df['Life_satisfaction'] = df['Life_satisfaction'].fillna(2)

In [47]:
df.loc[df['Life_satisfaction'].isin([3, 4]), 'Life_satisfaction'] = 2

In [48]:
df['Life_satisfaction'].value_counts(dropna=False).sort_index()

Life_satisfaction
1.0    8525
2.0    1881
Name: count, dtype: int64

In [49]:
df['Life_satisfaction'] = np.abs(df['Life_satisfaction']-2)

In [50]:
df['Life_satisfaction'].value_counts(dropna=False).sort_index()

Life_satisfaction
0.0    1881
1.0    8525
Name: count, dtype: int64

In [51]:
variable_list.append('Life_satisfaction')

#### WP31 Living_standard_trend

drop 4 5 to 2

In [52]:
df['WP31'].value_counts(dropna=False).sort_index()

WP31
1.0    8519
2.0     988
3.0     799
4.0      95
5.0       5
Name: count, dtype: int64

In [53]:
df['Living_standard_trend'] = df['WP31']

In [54]:
df['Living_standard_trend'] = df['Living_standard_trend'].fillna(2)

In [55]:
df.loc[df['Living_standard_trend'].isin([4, 5]), 'Living_standard_trend'] = 2

In [56]:
df['Living_standard_trend'].value_counts(dropna=False).sort_index()

Living_standard_trend
1.0    8519
2.0    1088
3.0     799
Name: count, dtype: int64

In [57]:
df['Living_standard_trend'] = -(df['Living_standard_trend'] - 2)

In [58]:
df['Living_standard_trend'].value_counts(dropna=False).sort_index()

Living_standard_trend
-1.0     799
-0.0    1088
 1.0    8519
Name: count, dtype: int64

In [59]:
variable_list.append('Living_standard_trend')

#### WP40 WP43 Enough_food Enough_shelter

drop 3 4 to 2

In [60]:
name_list = ['Enough_food', 'Enough_shelter']

In [61]:
df['Enough_food'] = df['WP40']
df['Enough_shelter'] = df['WP43']

In [62]:
df['Enough_food'].value_counts(dropna=False).sort_index()

Enough_food
1.0    1439
2.0    8924
3.0      39
4.0       4
Name: count, dtype: int64

In [63]:
df['Enough_food'] = df['Enough_food'].fillna(2)
df['Enough_shelter'] = df['Enough_shelter'].fillna(2)

In [64]:
df['Enough_shelter'].value_counts(dropna=False).sort_index()

Enough_shelter
1.0    1645
2.0    8684
3.0      67
4.0      10
Name: count, dtype: int64

In [65]:
columns_to_replace = ['Enough_food', 'Enough_shelter']

for column in columns_to_replace:
    df.loc[df[column].isin([3, 4]), column] = 2

In [66]:
df['Enough_food'] = np.abs(df['Enough_food']-2)

In [67]:
df['Enough_shelter'] = np.abs(df['Enough_shelter']-2)

In [68]:
df['Enough_food'].value_counts(dropna=False).sort_index()

Enough_food
0.0    8967
1.0    1439
Name: count, dtype: int64

In [69]:
df['Enough_shelter'].value_counts(dropna=False).sort_index()

Enough_shelter
0.0    8761
1.0    1645
Name: count, dtype: int64

In [70]:
variable_list = variable_list + name_list

#### WP60, WP61, WP63, WP65  Well_rested, Respected, Smile, Interesting_thing

drop 3 4 to 2

In [71]:
name_list = ["Well_rested", "Respected", "Smile", "Interesting_thing"]

In [72]:
code_list = ["WP60", "WP61", "WP63", "WP65"]

In [73]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name].isin([3, 4]), name] = 2
    df[name] = np.abs(df[name]-2) 
    print(df[name].value_counts(dropna=False).sort_index())

WP60
1.0    8599
2.0    1750
3.0      44
4.0      13
Name: count, dtype: int64
Well_rested
0.0    1807
1.0    8599
Name: count, dtype: int64
WP61
1.0    9432
2.0     694
3.0     255
4.0      25
Name: count, dtype: int64
Respected
0.0     974
1.0    9432
Name: count, dtype: int64
WP63
1.0    8195
2.0    2023
3.0     171
4.0      17
Name: count, dtype: int64
Smile
0.0    2211
1.0    8195
Name: count, dtype: int64
WP65
1.0    4992
2.0    5275
3.0     123
4.0      16
Name: count, dtype: int64
Interesting_thing
0.0    5414
1.0    4992
Name: count, dtype: int64

In [74]:
variable_list = variable_list + name_list

#### WP67, WP68, WP69, WP70, WP71, WP74  Enjoyment, Physical_pain, Worry, Sadness, Stress, Anger

drop 3 4 to 2

In [75]:
name_list = ["Enjoyment", "Physical_pain", "Worry", "Sadness", "Stress", "Anger"]

In [76]:
code_list = ["WP67", "WP68", "WP69", "WP70", "WP71", "WP74"]

In [77]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name].isin([3, 4]), name] = 2
    df[name] = np.abs(df[name]-2) 
    print(df[name].value_counts(dropna=False).sort_index())

WP67
1.0    8905
2.0    1428
3.0      69
4.0       4
Name: count, dtype: int64
Enjoyment
0.0    1501
1.0    8905
Name: count, dtype: int64
WP68
1.0    1709
2.0    8681
3.0      12
4.0       4
Name: count, dtype: int64
Physical_pain
0.0    8697
1.0    1709
Name: count, dtype: int64
WP69
1.0    3277
2.0    7099
3.0      27
4.0       3
Name: count, dtype: int64
Worry
0.0    7129
1.0    3277
Name: count, dtype: int64
WP70
1.0    1322
2.0    9055
3.0      27
4.0       2
Name: count, dtype: int64
Sadness
0.0    9084
1.0    1322
Name: count, dtype: int64
WP71
1.0    4874
2.0    5507
3.0      21
4.0       4
Name: count, dtype: int64
Stress
0.0    5532
1.0    4874
Name: count, dtype: int64
WP74
1.0    1771
2.0    8612
3.0      19
4.0       4
Name: count, dtype: int64
Anger
0.0    8635
1.0    1771
Name: count, dtype: int64

In [78]:
variable_list = variable_list + name_list

#### WP83 City_satisfaction

drop 3 4 to 2

In [79]:
code = 'WP83'
name = 'City_satisfaction'

In [80]:
print(df[code].value_counts().sort_index())
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name] > 1, name] = 0
print(df[name].value_counts().sort_index())

WP83
1.0    9112
2.0    1144
3.0     140
4.0      10
Name: count, dtype: int64
City_satisfaction
0.0    1294
1.0    9112
Name: count, dtype: int64

In [81]:
variable_list.append(name)

#### **WP85

Move_place drop 3 4 to 2

In [82]:
#code = 'WP85'

In [83]:
#name = 'Move_place'

In [84]:
#print(df[code].value_counts(dropna=False).sort_index())
#df[name] = df[code]
#df[name] = df[name].fillna(2)
#df.loc[df[name] > 1, name] = 0
#print(df[name].value_counts().sort_index())

In [85]:
#variable_list.append(name)

**To be determined**

#### WP86 Recommended_live_place

drop 3 4 to 2

In [86]:
code = 'WP86'
name = 'Recommended_live_place'

In [87]:
print(df[code].value_counts(dropna=False).sort_index())
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name] > 1, name] = 0
print(df[name].value_counts(dropna=False).sort_index())

WP86
1.0    5253
2.0    4790
3.0     345
4.0      18
Name: count, dtype: int64
Recommended_live_place
0.0    5153
1.0    5253
Name: count, dtype: int64

In [88]:
variable_list.append(name)

#### WP19472 Economic_rating

Drop nan 8 9 to 2

In [89]:
code = 'WP19472'
name = 'Economic_rating'

In [90]:
print(df[code].value_counts(dropna=False).sort_index())

WP19472
1.0     941
2.0    5089
3.0    2669
4.0    1588
8.0     117
9.0       2
Name: count, dtype: int64

In [91]:
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name].isin([8, 9]), name] = 2
print(df[name].value_counts(dropna=False).sort_index())

Economic_rating
1.0     941
2.0    5208
3.0    2669
4.0    1588
Name: count, dtype: int64

In [92]:
variable_list.append(name)

#### WP88 Economy_trend

Drop nan 4 5 to 2

In [93]:
code = 'WP88'
name = 'Economic_trend'

In [94]:
print(df[code].value_counts(dropna=False).sort_index())

WP88
1.0    8471
2.0     672
3.0     931
4.0     325
5.0       7
Name: count, dtype: int64

In [95]:
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name].isin([4, 5]), name] = 2
df[name] = -(df[name] - 2)
print(df[name].value_counts(dropna=False).sort_index())

Economic_trend
-1.0     931
-0.0    1004
 1.0    8471
Name: count, dtype: int64

In [96]:
variable_list.append(name)

#### WP89 Local_job_outlook

Drop nan 3 4 to 2

In [97]:
code = 'WP89'
name = 'Local_job_outlook'

In [98]:
print(df[code].value_counts(dropna=False).sort_index())
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name] > 1, name] = 0
print(df[name].value_counts(dropna=False).sort_index())

WP89
1.0    3287
2.0    2716
3.0     914
4.0       6
NaN    3483
Name: count, dtype: int64
Local_job_outlook
0.0    7119
1.0    3287
Name: count, dtype: int64

In [99]:
variable_list.append(name)

#### WP91, WP92, WP93, WP94, WP95, WP97. WP98, WP10248 -> Satisfied_pubtran, Satisfied_road, Satisfied_edu, Satisfied_qualityair, Satisfied_qualitywater, Satisfied_healthcare, Satisfied_affhouse, Satisfied_makefriend

Drop nan 3 4 to 2

In [100]:
name_list = ['Satisfied_pubtran', 'Satisfied_road', 'Satisfied_edu', 'Satisfied_qualityair', 'Satisfied_qualitywater', 'Satisfied_healthcare', 'Satisfied_affhouse', 'Satisfied_oppofriend']

In [101]:
code_list = ['WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP97', 'WP98', 'WP10248']

In [102]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP91
1.0    8599
2.0    1601
3.0     196
4.0      10
Name: count, dtype: int64
Satisfied_pubtran
0.0    1807
1.0    8599
Name: count, dtype: int64
WP92
1.0    8997
2.0    1015
3.0     386
4.0       8
Name: count, dtype: int64
Satisfied_road
0.0    1409
1.0    8997
Name: count, dtype: int64
WP93
1.0    7654
2.0    1961
3.0     773
4.0      18
Name: count, dtype: int64
Satisfied_edu
0.0    2752
1.0    7654
Name: count, dtype: int64
WP94
1.0    8269
2.0    1989
3.0     140
4.0       8
Name: count, dtype: int64
Satisfied_qualityair
0.0    2137
1.0    8269
Name: count, dtype: int64
WP95
1.0    8052
2.0    2173
3.0     179
4.0       2
Name: count, dtype: int64
Satisfied_qualitywater
0.0    2354
1.0    8052
Name: count, dtype: int64
WP97
1.0    7898
2.0    1985
3.0     512
4.0      11
Name: count, dtype: int64
Satisfied_healthcare
0.0    2508
1.0    7898
Name: count, dtype: int64
WP98
1.0    7569
2.0    2240
3.0     571
4.0      26
Name: count, dtype: int64
Satisfied_affhouse
0.0    2837
1.0    7569
Name: count, dtype: int64
WP10248
1.0    9143
2.0     953
3.0     287
4.0      23
Name: count, dtype: int64
Satisfied_oppofriend
0.0    1263
1.0    9143
Name: count, dtype: int64

In [103]:
variable_list = variable_list + name_list

#### WP103, WP105, WP106 -> Good_minorities, Good_homo, Good_immigrants

Drop nan 3 4 to 2

In [104]:
name_list = ['Good_minorities', 'Good_homo', 'Good_immigrants']

In [105]:
code_list = ['WP103', 'WP105', 'WP106']

In [106]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP103
1.0    4383
2.0    1617
3.0     918
4.0       5
NaN    3483
Name: count, dtype: int64
Good_minorities
0.0    6023
1.0    4383
Name: count, dtype: int64
WP105
1.0    3609
2.0    4300
3.0    2435
4.0      62
Name: count, dtype: int64
Good_homo
0.0    6797
1.0    3609
Name: count, dtype: int64
WP106
1.0    6391
2.0    2663
3.0    1329
4.0      23
Name: count, dtype: int64
Good_immigrants
0.0    4015
1.0    6391
Name: count, dtype: int64

In [107]:
variable_list = variable_list + name_list

#### WP108, WP109, WP110, WP111 -> Donated, Volunteer, Help_stranger, Voice_official

Drop nan 3 4 to 2

In [108]:
name_list = ['Donated', 'Volunteer', 'Help_stranger', 'Voice_official']

In [109]:
code_list = ['WP108', 'WP109', 'WP110', 'WP111']

In [110]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP108
1.0    2636
2.0    7735
3.0      29
4.0       6
Name: count, dtype: int64
Donated
0.0    7770
1.0    2636
Name: count, dtype: int64
WP109
1.0    2033
2.0    8315
3.0      57
4.0       1
Name: count, dtype: int64
Volunteer
0.0    8373
1.0    2033
Name: count, dtype: int64
WP110
1.0    5296
2.0    5070
3.0      37
4.0       3
Name: count, dtype: int64
Help_stranger
0.0    5110
1.0    5296
Name: count, dtype: int64
WP111
1.0    1004
2.0    9327
3.0      67
4.0       8
Name: count, dtype: int64
Voice_official
0.0    9402
1.0    1004
Name: count, dtype: int64

In [111]:
variable_list = variable_list + name_list

#### WP112, WP113, WP117, WP118 -> Local_police_confidence, Safety_walk, Stolen, Assualted

Drop nan 3 4 to 2

In [112]:
name_list = ['Local_police_confidence', 'Safety_walk', 'Stolen', 'Assualted']

In [113]:
code_list = ['WP112', 'WP113', 'WP117', 'WP118']

In [114]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP112
NaN    10406
Name: count, dtype: int64
Local_police_confidence
0.0    10406
Name: count, dtype: int64
WP113
1.0    9559
2.0     701
3.0     141
4.0       5
Name: count, dtype: int64
Safety_walk
0.0     847
1.0    9559
Name: count, dtype: int64
WP117
1.0     638
2.0    9736
3.0      25
4.0       7
Name: count, dtype: int64
Stolen
0.0    9768
1.0     638
Name: count, dtype: int64
WP118
1.0      266
2.0    10118
3.0       16
4.0        6
Name: count, dtype: int64
Assualted
0.0    10140
1.0      266
Name: count, dtype: int64

In [115]:
variable_list = variable_list + name_list

#### WP119, WP129, WP130, WP9050 -> Religion_importance, Children_respected, Children_learn, Women_respected

Drop nan 3 4 to 2

In [116]:
name_list = ['Religion_importance', 'Children_respected', 'Children_learn', 'Women_respected']

In [117]:
code_list = ['WP119', 'WP129', 'WP130', 'WP9050']

In [118]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP119
1.0    1507
2.0    8697
3.0     192
4.0      10
Name: count, dtype: int64
Religion_importance
0.0    8899
1.0    1507
Name: count, dtype: int64
WP129
1.0    9227
2.0     822
3.0     351
4.0       6
Name: count, dtype: int64
Children_respected
0.0    1179
1.0    9227
Name: count, dtype: int64
WP130
1.0    9710
2.0     483
3.0     211
4.0       2
Name: count, dtype: int64
Children_learn
0.0     696
1.0    9710
Name: count, dtype: int64
WP9050
1.0    9523
2.0     650
3.0     229
4.0       4
Name: count, dtype: int64
Women_respected
0.0     883
1.0    9523
Name: count, dtype: int64

In [119]:
variable_list = variable_list + name_list

#### WP131, WP132, WP134 -> Satisfied_dealpoor, Satisfied_Env_preservation, Satisfied_Personalfreedom

Drop nan 3 4 to 2

In [120]:
name_list = ['Satisfied_dealpoor', 'Satisfied_Env_preservation', 'Satisfied_Personalfreedom']

In [121]:
code_list = ['WP131', 'WP132', 'WP134']

In [122]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP131
1.0    8538
2.0    1448
3.0     395
4.0      25
Name: count, dtype: int64
Satisfied_dealpoor
0.0    1868
1.0    8538
Name: count, dtype: int64
WP132
1.0    8975
2.0    1213
3.0     209
4.0       9
Name: count, dtype: int64
Satisfied_Env_preservation
0.0    1431
1.0    8975
Name: count, dtype: int64
WP134
1.0    9110
2.0    1131
3.0     159
4.0       6
Name: count, dtype: int64
Satisfied_Personalfreedom
0.0    1296
1.0    9110
Name: count, dtype: int64

In [123]:
variable_list = variable_list + name_list

#### WP137, WP138, WP139, WP141, WP144 -> Confidence_military, Confidence_judicial, Confidence_gov, Confidence_fin, Confidence_honestyelections

Drop nan 3 4 to 2

In [124]:
name_list = ['Confidence_military', 'Confidence_judicial', 'Confidence_gov', 'Confidence_fin', 'Confidence_honestyelections']

In [125]:
code_list = ['WP137', 'WP138', 'WP139', 'WP141', 'WP144']

In [126]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP137
NaN    10406
Name: count, dtype: int64
Confidence_military
0.0    10406
Name: count, dtype: int64
WP138
NaN    10406
Name: count, dtype: int64
Confidence_judicial
0.0    10406
Name: count, dtype: int64
WP139
NaN    10406
Name: count, dtype: int64
Confidence_gov
0.0    10406
Name: count, dtype: int64
WP141
NaN    10406
Name: count, dtype: int64
Confidence_fin
0.0    10406
Name: count, dtype: int64
WP144
NaN    10406
Name: count, dtype: int64
Confidence_honestyelections
0.0    10406
Name: count, dtype: int64

In [127]:
variable_list = variable_list + name_list

#### WP10251, WP145, WP146, WP150 -> Freedom_media, Corruption_business, Corruption_government, Performance_leadership

Drop nan 3 4 to 2

In [128]:
name_list = ['Freedom_media', 'Corruption_business', 'Corruption_government', 'Performance_leadership']

In [129]:
code_list = ['WP10251', 'WP145', 'WP146', 'WP150']

In [130]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP10251
NaN    10406
Name: count, dtype: int64
Freedom_media
0.0    10406
Name: count, dtype: int64
WP145
NaN    10406
Name: count, dtype: int64
Corruption_business
0.0    10406
Name: count, dtype: int64
WP146
NaN    10406
Name: count, dtype: int64
Corruption_government
0.0    10406
Name: count, dtype: int64
WP150
NaN    10406
Name: count, dtype: int64
Performance_leadership
0.0    10406
Name: count, dtype: int64

In [131]:
variable_list = variable_list + name_list

####  WP1219 Gender_female

Use 0&1 instead of 1&2

In [132]:
code = 'WP1219'
name = 'Gender_female'

In [133]:
df[name] = df[code]

In [134]:
print(df[code].value_counts(dropna=False).sort_index())

WP1219
1.0    5643
2.0    4763
Name: count, dtype: int64

In [135]:
df[name] = df[name] - 1

In [136]:
print(df[name].value_counts(dropna=False).sort_index())

Gender_female
0.0    5643
1.0    4763
Name: count, dtype: int64

In [137]:
variable_list.append(name)

#### WP1220  Age

drop 100 to nan

In [138]:
code = 'WP1220'
name = 'Age'

In [139]:
df[name] = df[code]

In [140]:
print(df[code].value_counts(dropna=False).sort_index())

WP1220
15.0      82
16.0     112
17.0     118
18.0     243
19.0     177
        ...
86.0       5
87.0       2
88.0       2
90.0       2
100.0    132
Name: count, Length: 76, dtype: int64

In [141]:
df[name] = df[name].fillna(100)

In [142]:
df.shape

(10406, 149)

In [143]:
df = df[df[name] < 100]

In [144]:
df.shape

(10274, 149)

In [145]:
print(df[name].value_counts(dropna=False).sort_index())

Age
15.0     82
16.0    112
17.0    118
18.0    243
19.0    177
       ...
85.0      6
86.0      5
87.0      2
88.0      2
90.0      2
Name: count, Length: 75, dtype: int64

In [146]:
variable_list.append(name)

#### WP3117 Education

In [147]:
code = 'WP3117'
name = 'Education'

In [148]:
df[name] = df[code]

In [149]:
print(df[code].value_counts(dropna=False).sort_index())

WP3117
1.0    3803
2.0    4087
3.0    2348
4.0       8
5.0      28
Name: count, dtype: int64

In [150]:
df[name] = df[name].fillna(2)

In [151]:
df.loc[df[name] > 3, name] = 2

In [152]:
print(df[name].value_counts(dropna=False).sort_index())

Education
1.0    3803
2.0    4123
3.0    2348
Name: count, dtype: int64

In [153]:
df[name] = (df[name] - 2)

In [154]:
print(df[name].value_counts(dropna=False).sort_index())

Education
-1.0    3803
 0.0    4123
 1.0    2348
Name: count, dtype: int64

In [155]:
variable_list.append(name)

#### WP1223  Marital_status

drop 6 7 to nan

In [156]:
code = 'WP1223'
name = 'Marital_status'

In [157]:
df[name] = df[code]

In [158]:
print(df[code].value_counts(dropna=False).sort_index())

WP1223
1.0    1907
2.0    4391
3.0      55
4.0     168
5.0     224
6.0       6
7.0      21
8.0      57
NaN    3445
Name: count, dtype: int64

In [159]:
df[name] = df[name].fillna(6)

In [160]:
df = df[df[name] != 6]
df = df[df[name] != 7]

In [161]:
print(df[name].value_counts(dropna=False).sort_index())

Marital_status
1.0    1907
2.0    4391
3.0      55
4.0     168
5.0     224
8.0      57
Name: count, dtype: int64

In [162]:
variable_list.append(name)

#### EMP_2010 Employment

In [163]:
code = 'EMP_2010'
name = 'Employment'

In [164]:
df[name] = df[code]

In [165]:
print(df[code].value_counts(dropna=False).sort_index())

EMP_2010
1.0    2893
2.0     946
3.0     235
4.0     249
5.0     407
6.0    2072
Name: count, dtype: int64

In [166]:
df[name] = df[name].fillna(10)

In [167]:
df.shape

(6802, 152)

In [168]:
df = df[df[name] != 10]

In [169]:
df.shape

(6802, 152)

In [170]:
print(df[name].value_counts(dropna=False).sort_index())

Employment
1.0    2893
2.0     946
3.0     235
4.0     249
5.0     407
6.0    2072
Name: count, dtype: int64

In [171]:
variable_list.append(name)

#### WP1230 Children_under15

If it is greater than 10, then it is equal to 1

In [172]:
code = 'WP1230'
name = 'Children_under15'

In [173]:
df[name] = df[code]

In [174]:
print(df[code].value_counts(dropna=False).sort_index())

WP1230
0.0     3793
1.0     1773
2.0      936
3.0      177
4.0       51
5.0       21
6.0       11
7.0        4
8.0        1
9.0        1
10.0       1
12.0       1
98.0      11
99.0      21
Name: count, dtype: int64

In [175]:
df[name] = df[name].fillna(100)

In [176]:
print(df[name].value_counts(dropna=False).sort_index())

Children_under15
0.0     3793
1.0     1773
2.0      936
3.0      177
4.0       51
5.0       21
6.0       11
7.0        4
8.0        1
9.0        1
10.0       1
12.0       1
98.0      11
99.0      21
Name: count, dtype: int64

In [177]:
df.loc[df[name] > 0, name] = 1

In [178]:
print(df[name].value_counts(dropna=False).sort_index())

Children_under15
0.0    3793
1.0    3009
Name: count, dtype: int64

In [179]:
variable_list.append(name)

#### WP2319 -> Feeling_income

drop 5 6 to nan

In [180]:
code = 'WP2319'
name = 'Feeling_income'

In [181]:
df[name] = df[code]

In [182]:
print(df[code].value_counts(dropna=False).sort_index())

WP2319
1.0     814
2.0    3997
3.0    1447
4.0     427
5.0      80
6.0      37
Name: count, dtype: int64

In [183]:
df[name] = df[name].fillna(5)

In [184]:
df.shape

(6802, 154)

In [185]:
df = df[df[name] < 5]

In [186]:
df.shape

(6685, 154)

In [187]:
print(df[name].value_counts(dropna=False).sort_index())

Feeling_income
1.0     814
2.0    3997
3.0    1447
4.0     427
Name: count, dtype: int64

In [188]:
variable_list.append(name)

#### WP4657 Born_here

In [189]:
code = 'WP4657'
name = 'Born_here'

In [190]:
df[name] = df[code]

In [191]:
print(df[code].value_counts(dropna=False).sort_index())

WP4657
1.0    6678
2.0       7
Name: count, dtype: int64

In [192]:
df[name] = df[name].fillna(2)

In [193]:
df.loc[df[name].isin([3, 4]), name] = 2

In [194]:
df[name] = np.abs(df[name]-2)

In [195]:
print(df[name].value_counts(dropna=False).sort_index())

Born_here
0.0       7
1.0    6678
Name: count, dtype: int64

In [196]:
variable_list.append(name)

#### WP17625 Home_handline

drop 3 4 to nan

In [197]:
code = 'WP17625'
name = 'Home_handline'

In [198]:
df[name] = df[code]

In [199]:
print(df[code].value_counts(dropna=False).sort_index())

WP17625
1.0     900
2.0    5776
3.0       8
4.0       1
Name: count, dtype: int64

In [200]:
df[name] = df[name].fillna(3)

In [201]:
df = df[df[name] < 3]

In [202]:
print(df[name].value_counts(dropna=False).sort_index())

Home_handline
1.0     900
2.0    5776
Name: count, dtype: int64

In [203]:
df[name] = np.abs(df[name]-2)

In [204]:
print(df[name].value_counts(dropna=False).sort_index())

Home_handline
0.0    5776
1.0     900
Name: count, dtype: int64

In [205]:
variable_list.append(name)

#### WP17626 Mobile_phone

drop 3 4 to nan

In [206]:
code = 'WP17626'
name = 'Mobile_phone'

In [207]:
df[name] = df[code]

In [208]:
print(df[code].value_counts(dropna=False).sort_index())

WP17626
1.0    6484
2.0     192
Name: count, dtype: int64

In [209]:
df[name] = df[name].fillna(3)

In [210]:
df = df[df[name] < 3]

In [211]:
df[name] = np.abs(df[name]-2)

In [212]:
print(df[name].value_counts(dropna=False).sort_index())

Mobile_phone
0.0     192
1.0    6484
Name: count, dtype: int64

In [213]:
variable_list.append(name)

#### WP16056 Internet_access_available

drop 3 4  nan

In [214]:
code = 'WP16056'
name = 'Internet_access_available'

In [215]:
df[name] = df[code]

In [216]:
print(df[code].value_counts(dropna=False).sort_index())

WP16056
1.0    5183
2.0    1466
3.0      27
Name: count, dtype: int64

In [217]:
df[name] = df[name].fillna(3)

In [218]:
df = df[df[name] < 3]

In [219]:
df[name] = np.abs(df[name]-2)

In [220]:
print(df[name].value_counts(dropna=False).sort_index())

Internet_access_available
0.0    1466
1.0    5183
Name: count, dtype: int64

In [221]:
variable_list.append(name)

#### **WP15862 Used_internet_recently

In [222]:
code = 'WP15862'
name = 'Used_internet_recently'

In [223]:
df[name] = df[code]

In [224]:
print(df[code].value_counts(dropna=False).sort_index())

WP15862
1.0    4889
2.0     291
3.0       2
4.0       1
NaN    1466
Name: count, dtype: int64

In [225]:
df[name] = df[name].fillna(2)
df = df[df[name] < 3]

In [226]:
df[name] = np.abs(df[name]-2)

In [227]:
print(df[name].value_counts(dropna=False).sort_index())

Used_internet_recently
0.0    1757
1.0    4889
Name: count, dtype: int64

In [228]:
variable_list.append(name)

**To be determined**

In [229]:
df['Internet_access_available'].value_counts(dropna=False).sort_index()

Internet_access_available
0.0    1466
1.0    5180
Name: count, dtype: int64

#### **WP19544 Phone_internet_access

In [230]:
code = 'WP19544'
name = 'Phone_internet_access'

In [231]:
df[name] = df[code]

In [232]:
print(df[code].value_counts(dropna=False).sort_index())

WP19544
1.0    5465
2.0     964
3.0      27
NaN     190
Name: count, dtype: int64

In [233]:
df[name] = df[name].fillna(2)
df = df[df[name] < 3]

In [234]:
df[name] = np.abs(df[name]-2)

In [235]:
print(df[name].value_counts(dropna=False).sort_index())

Phone_internet_access
0.0    1154
1.0    5465
Name: count, dtype: int64

In [236]:
variable_list.append(name)

**To be determined**

In [237]:
df['Internet_access_available'].value_counts(dropna=False).sort_index()

Internet_access_available
0.0    1446
1.0    5173
Name: count, dtype: int64

#### INCOME_5

In [238]:
code = 'INCOME_5'
name = 'Income_level'

In [239]:
df[name] = df[code]

In [240]:
print(df[code].value_counts(dropna=False).sort_index())

INCOME_5
1.0    1158
2.0    1210
3.0    1279
4.0    1414
5.0    1558
Name: count, dtype: int64

In [241]:
df.shape

(6619, 160)

In [242]:
df = df.dropna(subset=['INCOME_5'])

In [243]:
df.shape

(6619, 160)

In [244]:
variable_list.append(name)

### Save the Washed Dataset

In [245]:
variable_list

['wave',
 'INCOME_2',
 'Cantril_ladder',
 'Health_disable',
 'Relative_have',
 'Life_satisfaction',
 'Living_standard_trend',
 'Enough_food',
 'Enough_shelter',
 'Well_rested',
 'Respected',
 'Smile',
 'Interesting_thing',
 'Enjoyment',
 'Physical_pain',
 'Worry',
 'Sadness',
 'Stress',
 'Anger',
 'City_satisfaction',
 'Recommended_live_place',
 'Economic_rating',
 'Economic_trend',
 'Local_job_outlook',
 'Satisfied_pubtran',
 'Satisfied_road',
 'Satisfied_edu',
 'Satisfied_qualityair',
 'Satisfied_qualitywater',
 'Satisfied_healthcare',
 'Satisfied_affhouse',
 'Satisfied_oppofriend',
 'Good_minorities',
 'Good_homo',
 'Good_immigrants',
 'Donated',
 'Volunteer',
 'Help_stranger',
 'Voice_official',
 'Local_police_confidence',
 'Safety_walk',
 'Stolen',
 'Assualted',
 'Religion_importance',
 'Children_respected',
 'Children_learn',
 'Women_respected',
 'Satisfied_dealpoor',
 'Satisfied_Env_preservation',
 'Satisfied_Personalfreedom',
 'Confidence_military',
 'Confidence_judicial',
 'Confidence_gov',
 'Confidence_fin',
 'Confidence_honestyelections',
 'Freedom_media',
 'Corruption_business',
 'Corruption_government',
 'Performance_leadership',
 'Gender_female',
 'Age',
 'Education',
 'Marital_status',
 'Employment',
 'Children_under15',
 'Feeling_income',
 'Born_here',
 'Home_handline',
 'Mobile_phone',
 'Internet_access_available',
 'Used_internet_recently',
 'Phone_internet_access',
 'Income_level']

In [246]:
len(variable_list)

73

In [247]:
WahsedDataset = df[variable_list]

In [248]:
WahsedDataset.shape

(6619, 73)

In [249]:
WahsedDataset.isna().any().any()

np.False_

In [252]:
WahsedDataset.to_parquet(os.path.join(Data_Folder, 'D02_WashedData_v1.parquet'))

In [253]:
WahsedDataset.to_csv(os.path.join(Data_Folder, 'D02_WashedData_v1.csv'))