# Titanic-Test

In [1]:
%pwd

'D:\\OneDrive - Kyushu University\\Course01_DataScienceForBa\\KaggleTitanicCode'

In [2]:
cd ..

D:\OneDrive - Kyushu University\Course01_DataScienceForBa

## Import Package

In [3]:
import numpy as np
import os
import pandas as pd
import re
from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV, train_test_split, StratifiedKFold

## Load DAta

In [4]:
all_df = pd.read_csv("Data/train.csv")
all_df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [ ]:
all_df.shape

In [ ]:
all_df.columns

## Preprocess

In [ ]:
all_df = all_df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Cabin', 'Embarked']]

In [ ]:
all_df.head()

In [ ]:
all_df['Cabin_Count'] = all_df['Cabin'].str.count(' ') + 1
all_df['Cabin_level'] = all_df['Cabin'].str[0]

In [ ]:
def extract_first_number(cabin_string):
    if pd.isna(cabin_string):
        return None  # Return None if the cabin string is NaN
    numbers = re.findall(r'\d+', cabin_string)
    return int(numbers[0]) if numbers else None

all_df['First_Number'] = all_df['Cabin'].apply(extract_first_number)

In [ ]:
all_df['Cabin_level'].value_counts()

In [ ]:
all_df['Sex'] = all_df['Sex'].replace({'male': 0, 'female': 1})
cabin_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'T': 8}
all_df['Cabin_level'] = all_df['Cabin_level'].map(cabin_mapping)

In [ ]:
Embarked_mapping = {'S': 1, 'C': 2, 'Q': 3}
all_df['Embarked'] = all_df['Embarked'].map(Embarked_mapping)

In [ ]:
all_df.head()

In [ ]:
all_df.columns

In [ ]:
all_df = all_df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked', 'Cabin_Count', 'Cabin_level', 'First_Number']]

In [ ]:
all_df = all_df.fillna(0)

In [ ]:
all_df.head()

In [ ]:
X, y = all_df.drop(columns = ['Survived']), all_df['Survived']

## Split X and y

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=326)

In [ ]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=326)  # n_estimators is the number of trees
rf_classifier.fit(X_train, y_train)

In [ ]:
y_pred = rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

## 10 fold CV

In [ ]:
param_grid = {
    'n_estimators': [25, 50, 75, 100],  # Number of trees in the forest
    'max_features': [6, 7, 8, 9, 10],  # Number of features to consider at every split
    'max_depth': [10, 12, 14, 16, 18],  # Maximum number of levels in tree
    'criterion': ['gini', 'entropy'],  # Function to measure the quality of a split
    'min_samples_split':[2, 4, 6, 8, 10],
    'max_samples': [0.7, 0.8, 0.9]
    
}

In [ ]:

rf_classifier = RandomForestClassifier(random_state=42)
stratified_kfold = StratifiedKFold(n_splits=2, shuffle=True, random_state=326)
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=stratified_kfold, 
                           scoring='accuracy', verbose=1, n_jobs=-1)

In [ ]:
grid_search.fit(X, y)

In [ ]:
print("Best parameters:", grid_search.best_params_)
print("Best cross-validation score (best accuracy):", grid_search.best_score_)

In [ ]:
pd.DataFrame(grid_search.cv_results_).sort_values(by='mean_test_score', ascending=False).head(10)

In [ ]:
results = pd.DataFrame(grid_search.cv_results_)
top_models = results.nlargest(10, 'mean_test_score')

In [ ]:
base_models = []
for index, row in top_models.iterrows():
    model = RandomForestClassifier(n_estimators=row['param_n_estimators'],
                                   max_features=row['param_max_features'],
                                   max_depth=row['param_max_depth'],
                                   criterion=row['param_criterion'],
                                   min_samples_split=row['param_min_samples_split'],
                                   max_samples=row['param_max_samples'],
                                   random_state=index)
    base_models.append(('rf_{}'.format(index), model))

In [ ]:
# Logistic Regression as the final estimator
final_estimator = LogisticRegression()

# Stacking Classifier
stacking_classifier = StackingClassifier(estimators=base_models, final_estimator=final_estimator, cv=10)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
stacking_classifier.fit(X_train, y_train)

In [ ]:
# Predictions
y_pred = stacking_classifier.predict(X_test)

# Performance
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print("Stacking model accuracy:", accuracy)

final_estimator = LogisticRegression()
stacking_classifier = StackingClassifier(estimators=base_models, final_estimator=final_estimator, cv=10)
stacking_classifier.fit(X, y)

## Prediction

In [ ]:
test_df = all_df = pd.read_csv("/kaggle/input/titanic/test.csv")

In [ ]:
Results = test_df[['PassengerId']]

In [ ]:
test_df = test_df[[ 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Cabin', 'Embarked']]

In [ ]:
test_df.head()

In [ ]:
test_df['Cabin_Count'] = test_df['Cabin'].str.count(' ') + 1
test_df['Cabin_level'] = test_df['Cabin'].str[0]

In [ ]:
def extract_first_number(cabin_string):
    if pd.isna(cabin_string):
        return None  # Return None if the cabin string is NaN
    numbers = re.findall(r'\d+', cabin_string)
    return int(numbers[0]) if numbers else None

test_df['First_Number'] = test_df['Cabin'].apply(extract_first_number)

In [ ]:
test_df['Sex'] = test_df['Sex'].replace({'male': 0, 'female': 1})
cabin_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'T': 8}
test_df['Cabin_level'] = test_df['Cabin_level'].map(cabin_mapping)

In [ ]:
Embarked_mapping = {'S': 1, 'C': 2, 'Q': 3}
test_df['Embarked'] = test_df['Embarked'].map(Embarked_mapping)

In [ ]:
test_df.head()

In [ ]:
test_df.columns

In [ ]:
test_df = test_df[['Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked', 'Cabin_Count', 'Cabin_level', 'First_Number']]

In [ ]:
test_df = test_df.fillna(0)

In [ ]:
pred_y = stacking_classifier.predict(test_df)

In [ ]:
Results['Survived'] = pred_y

In [ ]:
Results

In [ ]:
Results.to_csv('submission.csv', index=False)